<div class="jumbotron", style="padding-top: 0px;">
 <div class= "row">
  <div class = "col-md-6">
   <h1>Compra y vende en un<br>  solo lugar</h1>
   <h2>todo desde tu telefono</h2>
  </div>
 
 <div class="col-md-6">
  <%= image_tag("https://www.dropbox.com/s/iyl5q22j7tj2ovl/banner.jpg?raw=1", class: "pull-right") %> 
 </div>
 </div>
</div>