<%= render 'static_pages/banner' %>

<div class = "row center">
  <div class ="col-md-4">
    <div class = "thumbnail", style="background-color: transparent; border: none">
      <h2>Vende y Compra</h2>
        <%= image_tag("https://www.dropbox.com/s/3c8x9fyjwldxvaz/default-store-350x350.jpg?raw=1", class: "img-circle", size: "200") %>
        <div class="caption">
          
        </div>
    </div>
  </div>
  <div class ="col-md-4">
    <div class = "thumbnail", style="background-color: transparent; border: none">
      <h2>Rapido y Seguro</h2>
        <%= image_tag("https://www.dropbox.com/s/3c8x9fyjwldxvaz/default-store-350x350.jpg?raw=1", class: "img-circle", size: "200") %>
        <div class="caption">
         
        </div>
    </div>
  </div>
  <div class ="col-md-4">
    <div class = "thumbnail", style="background-color: transparent; border: none">
      <h2>Encuentralo en Korotos</h2>
        <%= image_tag("https://www.dropbox.com/s/3c8x9fyjwldxvaz/default-store-350x350.jpg?raw=1", class: "img-circle", size: "200") %>
        <div class="caption">
        
        </div>
    </div>
  </div>
</div>

<h1>Publicaciones recientes</h1>
  
<%= render "listings/thumbnail"%>
  
  