<% provide(:title, "Log in") %>
<h1>Iniciar Sesión</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Contraseña" %>
      <%= link_to "(olvide mi contraseña)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Recordarme en esta computadora</span>
      <% end %>

      <%= f.submit "Iniciar Sesión", class: "btn btn-primary" %>
    <% end %>

    <p>Nuevo usuario? <%= link_to "Inscribite ya!", signup_path %></p>
  </div>
</div>