
<%= form_for ([@listing, @comment]) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
    <%= f.text_area :content, class: 'form-control' %>
    <%= f.submit "comentar", class: "btn btn-primary" %>
<% end %>