<%= form_for(setup_listing(@listing), html: { multipart: true }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
<div class = "row">
      <div class = "col-md-6 col-md-offset-3">

    <%= f.label :name, "Nombre del Producto" %>
    <%= f.text_field :name, class: 'form-control' %>
    
    
    <%= label_tag nil, "Categoria" %>
    <div class = "row">
      
      <div class= "col-md-6">
        <%= f.collection_select(:category_id, Category.all, :id, :name, 
                      { prompt: 'Elige una categoria' }, { id: 'category-select', class: 'form-control' }) %>
      </div>
      
                      
      <div class= "col-md-6">
        <%= f.grouped_collection_select :subcategory_id, Category.all, :subcategories, 
            :name, :id, :name, { include_blank: 'Elige una sub categoria' }, { id: 'subcategory-select', class: 'form-control' } %>
      </div>
      
    </div>
    
    <%= f.label :description, "Descripción" %>
    <%= f.text_area :description, class: 'form-control' %>

    <%= f.label :price, "Precio" %>
    <%= f.text_field :price, class: 'form-control' %>
    
    <%= f.fields_for :pickup_address do |u| %>
        
        <%= u.label :city, "Ciudad" %>
        <%= u.text_field :city, class: 'form-control' %>
        
        <!--%= u.label :sector %-->
        <!--%= u.text_field :sector, class: 'form-control' %>
        
        <!--%= u.label :line_1, "calle" %>
        <!--%= u.text_field :line_1, class: 'form-control' %>
        
        <!--%= u.label :line_2, "Numero de casa/Apt o residencial" %>
        <!--%= u.text_field :line_2, class: 'form-control' %-->
        
    <% end %>

  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'form-control' %>
  </span>

    <%= f.submit "Publicar Anuncio", class: "btn btn-primary" %>
 </div>
 </div>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
