    
  
    <% @listings.each do |listing| %>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag(listing.picture.url), listing %>
          <div class="caption">
            <h3><%= listing.name %></h3>
            <p><%= number_to_currency(listing.price) %></p>
            <p><%= "Vendido por #{listing.user.name}" %></p>
          </div>
        </div>
      </div>
    <% end %>
