
  <div class="row center">
    <% if current_user.present? %>
      <%= render 'layouts/sidebar' %>
      <div class ="col-md-9">
    <% else %>
    <div class ="col-md-12">
    <% end %>
    <%= render 'listings/thumbnail' %>
  </div>
</div> 
  
<%= link_to "Publicar Anuncio", new_listing_path, class: "btn btn-primary" if current_user.present?%>