<div class="row center">
    <% if current_user.present? %>
      <%= render 'layouts/sidebar' %>
      <div class ="col-md-9">
    <% else %>
    <div class ="col-md-12">
    <% end %>
    <%= render 'listings/thumbnail' %>
  </div>
</div> 
<!--% @listings.aggs.each do |ags|%>
        <span>ags</span>
        <ul  class="menu">
        <!--% @listings.aggs["price"]["buckets"].each do |filter| %>
          <li><!--%= link_to "#{filter["key"]} (#{filter["doc_count"]})", "/listings/search?price=#{filter["key"]}" %></li>
        <!--% end %>
        </ul>
    <!--% end %-->
  
<%= link_to "Publicar Anuncio", new_listing_path, class: "btn btn-primary" if current_user.present?%>