<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag @listing.picture.url %>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-2">
    <h3><%= @listing.name %></h3>
    <p><%= number_to_currency(@listing.price) %></p>
    <p><%= @listing.description %></p>
    <br>
    <p>Ciudad: <%= @listing.pickup_address.city %></p>
    <p>Telefono: <%= @listing.user.telefono %></p>
    <!--div class="center"-->
      <!--%= link_to "Buy It Now", new_listing_order_path(@listing), class: "btn btn-primary", data:  { turbolinks: false } %>
    </div-->
      
  </div>
</div>
<% if current_user?(@listing.user)%>
  <%= link_to 'Editar', edit_listing_path(@listing), class: "btn btn-link" %>
<% end %>
<%= link_to 'Atras', listings_path, class: "btn btn-link" %>
<br>

  <div class="row">
    <div class="col-md-8 col-md-offset-4">
        <% if @listing.comments.any? %>
          <div class="box">
            <%= render @listing.comments %>
          </div>
        <%end%>
        
        <% if logged_in? %>
          <%= render 'listings/comment_form' %>
        <% else %>
          <%= link_to "Inicia sesion para esribir un comentario", login_path, class: "btn btn-primary col-md-offset-4" %>
        <% end %>
    </div>
  </div>
