<% if comment.persisted? %>          
          <div class="media">
                    <div class="media-left">
                       <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
                    </div>
                    
                    <div class="media-body">
                        <h4 class="media-heading"><%= link_to comment.user.name, comment.user %>
                        <% if comment.listing.user == comment.user %>
                                  (vendedor)
                        <% end %>
                            <small>Publicado 
                            <%if comment.created_at > 1.hour.ago %>
                                      hace
                              <%end%>
                            <%= time_ago_in_words(comment.created_at) %>.</small>
                        </h4>
                              <%= comment.content %>
                             
                    </div>
                    <% if current_user?(comment.user)%>
                              <%= link_to [comment.listing, comment], method: :delete, data: { confirm: "Are you sure?" } do %>
                                        <button type="button" class="close" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                              <%end%>
                    <% end %>
          </div>
<% end %>
