<% provide(:title, "Edit user") %>
<h1>Actualiza tu perfil</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(setup_user(@user)) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Nombre *" %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :apellido, "Apellido *" %>
      <%= f.text_field :apellido, class: 'form-control' %>
      
      <%= f.label :telefono, "Telefono *" %>
      <%= f.text_field :telefono, class: 'form-control' %>

      <%= f.label :password, "Contraseña" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmación" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.fields_for :addresses do |u| %>
        
        <%= u.label :city, "Ciudad" %>
        <%= u.text_field :city, class: 'form-control' %>
        
        <%= u.label :sector %>
        <%= u.text_field :sector, class: 'form-control' %>
        
        <%= u.label :line_1, "Calle y Número" %>
        <%= u.text_field :line_1, class: 'form-control' %>
        
        <%= u.label :line_2, "Apt y/o Residencial" %>
        <%= u.text_field :line_2, class: 'form-control' %>
        
        <% end %>
      

      <%= f.submit "Salvar cambios", class: "btn btn-primary" %>
    <% end %>
    
    

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">cambiar</a>
    </div>
  </div>
</div>