<% provide(:title, 'Registro') %>
<h1>Registro de Usuario</h1>

<div class = "row">
      <div class = "col-md-6 col-md-offset-3">
            <%= form_for(setup_user(@user)) do |f| %>
                  <%= render 'shared/error_messages', object: f.object %>
                  
                  
                  <%= f.label :name, "Nombre" %>
                  <%= f.text_field :name, class: 'form-control' %>
                  
                  <%= f.label :apellido, "Apellido" %>
                  <%= f.text_field :apellido, class: 'form-control' %>
                  
                  <%= f.label :telefono, "Teléfono" %>
                  <%= f.text_field :telefono, class: 'form-control' %>
                  
                  <%= f.label :email %>
                  <%= f.email_field :email, class: 'form-control' %>
                  
                  <%= f.label :password, "Contraseña" %>
                  <%= f.password_field :password, class: 'form-control' %>
                  
                  <%= f.label :password_confirmation, "Confirmación" %>
                  <%= f.password_field :password_confirmation, class: 'form-control' %>
                  
                  <%= f.submit "Crear mi cuenta", class: "btn btn-primary"%>
            <% end %>
            
      </div>
</div>