<div class="row">
  
  
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag @listing.picture.url %>
    </div>
      <h3><%= @listing.name %></h3>
      <h4><%= number_to_currency(@listing.price) %></h4>
  </div>
  
  <div class="col-md-6 col-md-offset-1">
    
    <%= form_for([@listing, @order]) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div id="stripe_error" class="alert alert-danger" style="display:none">
        <noscript>
          JavaScript is not enabled and is required for this form. First enable it in your web browser settings.
        </noscript>
    </div>
    
      <div class = "row">
        <div class = "col-md-12">
            <%= f.fields_for :delivery_address do |u| %>
        
                <%= u.label :city %>
                <%= u.text_field :city, class: 'form-control' %>
                
                <%= u.label :sector %>
                <%= u.text_field :sector, class: 'form-control' %>
                
                <%= u.label :line_1 %>
                <%= u.text_field :line_1, class: 'form-control' %>
                
                <%= u.label :line_2 %>
                <%= u.text_field :line_2, class: 'form-control' %>
                
            <% end %>
            
          </div>
      </div>
      
      <div class = "row">      
          <div class = "col-md-8">
            <%= label_tag :card_number, "Credit Card Number" %>
            <%= text_field_tag :card_number, nil, { :name => nil, :'data-stripe' => "number",
                                                    class: "form-control" } %>  
          </div>
          
          <div class = "col-md-4">
            <%= label_tag :card_code, "CVC" %>
            <%= text_field_tag :card_code, nil, { :name => nil, :'data-stripe' => "cvc",
                                                    class: "form-control" } %>
          </div>
      </div>
      
      <div class = "form-group">
        <%= label_tag nil, "Fecha de Caducidad" %>
        <div class = "row">      
          <div class = "col-md-6">
              <%= select_month nil, { use_two_digit_numbers: true }, { :name => nil, :'data-stripe' => "exp-month",
                                                                      class: "form-control" } %>
          </div>
          
          <div class="col-md-6">
            
            <%= select_year nil, { start_year: Date.today.year,
                                    end_year: Date.today.year+10 },
                                { :name => nil, :'data-stripe' => "exp-year", class: "form-control" } %>
          </div>
        </div>
      </div>
      
      <div class = "row">
        <div class = "col-md-4">
          <%= f.submit "submit", class: "btn btn-primary" %>

          <% end %>
          </div>
      </div>
  </div>
  
  
</div>