<div class="center">
  <h2>Ordenes</h2>
</div>

<table class="table table-striped">
  <tr>
    <th class="center">Producto</th>
    <th class="center">Precio</th>
    <th class="center">Vendedor</th>
    <th class="center">Comprador</th>
    <th class="center">Fecha de compra</th>
    <th class="center">Estatus</th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td class="center"><p><%= image_tag order.listing.picture.url(:thumb) %></p>
      <%= order.listing.name %></td>
      <td class="center"><%= number_to_currency(order.listing.price) %></td>
      <td class="center">
        <p><%= order.seller.name %></p>
        <p><%= order.listing.pickup_address.city %></p>
        <p><%= order.listing.pickup_address.sector %></p>
        <p><%= order.listing.pickup_address.line_1 %></p>
        <p><%= order.listing.pickup_address.line_2 if order.delivery_address.line_2? %></p>
      </td>
      <td class="center">
        <p><%= order.buyer.name %></p>
        <p><%= order.delivery_address.city %></p>
        <p><%= order.delivery_address.sector %></p>
        <p><%= order.delivery_address.line_1 %></p>
        <p><%= order.delivery_address.line_2 if order.delivery_address.line_2? %></p>
      </td>
      <td class="center"><%= order.created_at.strftime("%-d/ %m/ %Y") %></td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <% if order.ordered? %>
            En espera
            <% elsif order.shipped? %>
            Buscado
            <% elsif order.delivered? %>
            Enviado
            <% elsif order.rated? %>
            Evaluado
            <% end %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
          <% if order.ordered? %>
            <li><%= link_to "Buscado", ship_order_path(order, :status => "shipped"), method: :put, class: "btn btn-link" %></li>
            <% elsif order.shipped? %>
            <li><%= link_to "Enviado", ship_order_path(order, :status => "delivered"), method: :put, class: "btn btn-link" %></li>
            <% elsif order.delivered? %>
            <li><%= link_to "Evaluado", ship_order_path(order, :status => "rated"), method: :put, class: "btn btn-link" %></li>
            </ul>
        </div>
          <%end%>
      </td>
    </tr>
  <% end %>
</table>