<div class="center">
  <h2>Your Sales History</h2>
</div>

<table class="table table-striped">
  <tr>
    <th class="center">Image</th>
    <th class="center">Item</th>
    <th class="center">Description</th>
    <th class="center">Price</th>
    <th class="center">Seller</th>
    <th class="center">Date sold</th>
    <th class="center">Action</th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td class="center"><%= image_tag order.listing.picture.url(:thumb) %></td>
      <td class="center"><%= order.listing.name %></td>
      <td class="center"><%= order.listing.description %></td>
      <td class="center"><%= number_to_currency(order.listing.price) %></td>
      <td class="center"><%= order.seller.name %></td>
      <td class="center"><%= order.created_at.strftime("%m %-d, %Y") %></td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "View", "#", class: "btn btn-link" %></li>
            <li><%= link_to "Edit", "#", class: "btn btn-link" %></li>
            <li><%= link_to 'Destroy', "#", class: "btn btn-link" %></li>
          </ul>
        </div>
      </td>
    </tr>
  <% end %>
</table>