<div class="center">
  <h2>Historial de Ventas</h2>
</div>

<table class="table table-striped">
  <tr>
    <th class="center">Imagen</th>
    <th class="center">Producto</th>
    <th class="center">Descripcion</th>
    <th class="center">Precio</th>
    <th class="center">Comprador</th>
    <th class="center">Fecha de venta</th>
    <th class="center">Estatus</th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td class="center"><%= image_tag order.listing.picture.url(:thumb) %></td>
      <td class="center"><%= order.listing.name %></td>
      <td class="center"><%= order.listing.description %></td>
      <td class="center"><%= number_to_currency(order.listing.price) %></td>
      <td class="center"><%= order.buyer.name %></td>
      <td class="center"><%= order.created_at.strftime("%-d %m, %Y") %></td>
      <td>
          <% if order.shipped? %>
          <button type="button" class="btn btn-default">
            <%= order.status %>
          </button>
          <% else %>
            <%= link_to "Ya envie!", ship_order_path(order, :status => "shipped"), method: :put, class: "btn btn-default" %>
          <%end%>
      </td>
    </tr>
  <% end %>
</table>