<%= form_for(@bank_account) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
<div class = "row">
    <div class = "col-md-6 col-md-offset-3">

        <%= f.label :titular %>
        <%= f.text_field :titular, class: 'form-control' %>
        
        <%= f.label :banco %>
        <%= f.select :banco, @bancos, {} , class: 'form-control' %>
    
        <%= f.label :cuenta %>
        <%= f.text_field :cuenta, class: 'form-control' %>
        
    
        <%= f.submit "submit", class: "btn btn-primary" %>

    </div>
 </div>
<% end %>
