<h1>Cuentas de banco</h1>

<table class="table table-hover">
  <tr>
    <th class="center">Banco</th>
    <th class="center">Cuenta</th>
    <th class="center">Titular</th>
    <th class="center">Acciones</th>
  </tr>

  <% @bank_account.each do |t| %>
    <tr class="<%="danger" if t.revision? %>">
      <td class="center"><%= t.banco %></td>
      <td class="center"><%= t.cuenta %></td>
      <td class="center"><%= t.titular %></td>
      <td class="center">
        <% if t.revision? %>
          <p>Cuenta en Revision</p>
        <% else %>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              transaccion <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Transferir pagos", new_bank_account_transfer_path(t), class: "btn btn-link" %></li>
              <li><%= link_to "Eliminar cuenta", t, method: :delete, data: {confirm: "Seguro?"}, class: "btn btn-link" %></li>
            </ul>
          </div>
        <% end %>
      </td>
  <% end %>
</table>

<%= link_to "dldl", bank_accounts_monitoreo_path %>

<div class="row">
  <div class="col-md-9">
    <%= link_to "Añadir cuenta de banco", new_bank_account_path, class: "btn btn-primary" %>
  </div>  
  
  <div class="col-md-3">
    <%= link_to "Historial de Transferencias", transfers_path %>
  </div>
  
</div>


