<div class="center">
  <h2>Cuentas de banco</h2>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th class="center">Usuario</th>
    <th class="center">Banco</th>
    <th class="center">Cuenta</th>
    <th class="center">Titular</th>
    <th class="center">Fecha solicitada</th>
    <th class="center">Estatus</th>
  </tr>

  <% @bank_accounts.each do |t| %>
    <tr>
      <td class="center"><%= t.user.username %></td>
      <td class="center"><%= t.banco %></td>
      <td class="center"><%= t.cuenta %></td>
      <td class="center"><%= t.titular %></td>
      <td class="center"><%= t.created_at.strftime("%-d/ %m/ %Y") %></td>
      <td class="center">
        <% if t.revision? %>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
             <%= t.status%> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Aprobado", confirmar_bank_account_path(t, :status => "confirmado"), method: :put, data: {confirm: "cambiar estatus a confirmado?"}, class: "btn btn-link" %></li>
            <li><%= link_to "Rechazado", confirmar_bank_account_path(t, :status => "rechazado"), method: :put, data: {confirm: "cambiar estatus a rechazado?"}, class: "btn btn-link" %></li>
          </ul>
        </div>
        <% else %>
          <%= t.status %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>