<%= form_for([@bank, @transferencia]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
<div class = "row">
    <div class = "col-md-6 col-md-offset-3">
      
      <h2>Cuenta: <%= @bank.cuenta  %></h2>

        <%= f.label :monto %>
        <%= f.text_field :monto, class: 'form-control' %>
    
        
    
        <%= f.submit "submit", class: "btn btn-primary" %>

    </div>
 </div>
<% end %>
