<div class="center">
  <h2>Historial de Transferencias</h2>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th class="center">Usuario</th>
    <th class="center">Banco</th>
    <th class="center">Cuenta</th>
    <th class="center">Titular</th>
    <th class="center">Monto</th>
    <th class="center">Fecha solicitada</th>
    <th class="center">Estatus</th>
    <th class="center">Fecha realizada</th>
  </tr>

  <% @transferencias.each do |t| %>
    <tr>
      <td class="center"><%= t.bank_account.user.username %></td>
      <td class="center"><%= t.bank_account.banco %></td>
      <td class="center"><%= t.bank_account.cuenta %></td>
      <td class="center"><%= t.bank_account.titular %></td>
      <td class="center"><%= number_to_currency(t.monto) %></td>
      <td class="center"><%= t.created_at.strftime("%-d/ %m/ %Y") %></td>
      <td><%=  t.status  %></td>
      <td class="center"><%= t.fecha.strftime("%-d/ %m/ %Y") if t.fecha? %></td>
    </tr>
  <% end %>
</table>