<div class="center">
  <h2>Transferencias Pendientes</h2>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th class="center">Usuario</th>
    <th class="center">Banco</th>
    <th class="center">Cuenta</th>
    <th class="center">Titular</th>
    <th class="center">Monto</th>
    <th class="center">Comentario</th>
    <th class="center">Fecha solicitada</th>
    <th class="center">Estatus</th>
    <th class="center">Fecha realizada</th>
  </tr>

  <% @transferencias.each do |t| %>
    <tr>
      <td class="center"><%= t.bank_account.user.username %></td>
      <td class="center"><%= t.bank_account.banco %></td>
      <td class="center"><%= t.bank_account.cuenta %></td>
      <td class="center"><%= t.bank_account.titular %></td>
      <td class="center"><%= number_to_currency(t.monto) %></td>
      <td class="center"><%= t.comentario if t.comentario?  %></td>
      <td class="center"><%= t.created_at.strftime("%-d/ %m/ %Y") %></td>
      <td class="center">
        <% if t.en_transito? %>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
             En transito <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "En transito", confirmar_transfer_path(t, :status => "realizado"), method: :put, data: {confirm: "cambiar estatus a realizado?"}, class: "btn btn-link" %></li>
            <li><%= link_to "Rechazado", confirmar_transfer_path(t, :status => "rechazado"), method: :put, data: {confirm: "cambiar estatus a rechazado?"}, class: "btn btn-link" %></li>
          </ul>
        </div>
        <% elsif t.solicitado? %>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
               Solicitado <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "En transito", confirmar_transfer_path(t, :status => "en_transito"), method: :put, data: {confirm: "cambiar estatus a 'en tranisto'?"}, class: "btn btn-link" %></li>
            </ul>
          </div>
        <% else %>
          <%= t.status %>
        <% end %>
      </td>
      <td class="center"><%= t.updated_at.strftime("%-d/ %m/ %Y") unless t.solicitado? %></td>
    </tr>
  <% end %>
</table>