<footer class="footer">
  <small>
   info@korotos.com.do
  </small>
  <nav>
    <ul>
      <li><%= link_to "Nosotros",   about_path %></li>
      <li><%= link_to "Contacto", contact_path %></li>
      <li><a href="#">Noticias</a></li>
    </ul>
  </nav>
</footer>