 <header class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <%= link_to "Korotos", root_path, id: "logo" %>
        <nav>
          
          
          
          <ul class="nav navbar-nav navbar-right">
            
            
            <li><%= link_to "Vender",   new_listing_path %></li>
            <li><%= link_to "Ayuda",   help_path %></li>
            <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Categorias <b class="caret"></b>
                  </a>
                <ul class="dropdown-menu">
                  <li><%=link_to "Todo", listings_path %></li>
                  <li class="divider"></li>
                  <% Category.all.each do |c| %>
                  <li class="dropdown-header"><%= c.name %></li>
                  <% c.subcategories.each do |s| %>
                    <li><%= link_to s.name, listings_path(subcategory: s.name) %></li>
                  <% end %> 
                  <li class="divider"></li>
                  <% end %>
                  
                </ul>
            </li>
            <% if logged_in? %>
            <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Cuenta <b class="caret"></b>
                  </a>
                <ul class="dropdown-menu">
                    <li><%= link_to "Perfil", current_user %></li>
                    <li><%= link_to "Configuracion", edit_user_path(current_user) %></li>
                    <li><!--%= link_to "Bancos y Transferencias", bank_accounts_url %--></li>
                    <li><%= link_to "Mi listado", seller_path %></li>
                    <li><!--%= link_to "Ventas", sales_path %--></li>
                    <li><!--%= link_to "Compras", purchases_path %--></li>
                    <li class="divider"></li>
                    <li>
                        <%= link_to "Cerrar Sesion", logout_path, method: "delete" %>
                    </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
      </ul>
      <%= form_tag search_listings_path, method: :get, class: "navbar-form navbar-right" do %>
           
              <%= text_field_tag :search, params[:search], placeholder: "buscar", class: "form-control", style: "margin-bottom: 0" %>
              <%= button_tag(type: "submit", class: "btn btn-default") do %>
                  <span class="glyphicon glyphicon-search"></span>
              <% end %>
         
          <% end %>
    </nav>
  </div>
</header>