<div class="col-md-3 sidebar center">  
  
    <%= link_to gravatar_for(current_user, size: 100), current_user %>
    <h1><%= current_user.name %></h1>
    <!--p><b>Balance:</b> <!--%= number_to_currency(current_user.balance) %--><!--/p-->
    <%= link_to "ver mi perfil", current_user %>
    <hr>
    
</div>
    